@media (min-width: 1400px) {
    .max_width_container_size{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .max_width_container {
        max-width: 1320px;
    }
    .footer_parent_upper{
        background-color: #06112a;
    }
    .footer_parent_lower{
        background-color: #050d21;
    }

}