.about_us{
    margin-top: 8rem;
}
.about_us .about_us_content{
    display: flex;
    justify-content: center;
    width: 80%;
    gap:40px;
}
.about_us .about_us_content .left_content{
    width: 33.33333%;
    /* flex: 1; */
    
}
.about_us .about_us_content .left_content img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.about_us .about_us_content .right_content{
    width: 66.66667%;
    /* flex:3; */

}
    .about_us .about_us_content .right_content .about_us_text{
    font-size: 13px;
    color: #5ea51d;
    font-weight: 700;

}
.about_us .about_us_content .right_content .about_us_paragraph{
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
    color: #999999;
    margin: 0rem 0rem 3rem 0rem;

}

.about_us .about_us_content .right_content > h2{
    font-size: 50px;
    font-weight: 700;
    line-height: 1.4;
    color: rgba(0, 0, 0, 0.8);
    margin: 1rem 0rem 2rem 0rem;

}
.about_us .about_us_content .right_content .number_of_property .number_of{
 font-size: 40px;
 font-weight: 600;
 line-height: 1;
 margin-bottom: 15px;
}
.about_us .about_us_content .right_content .right_content_flex{
    display: flex;
    flex-direction: column;
}
.about_us .about_us_content .right_content .number_of_property{
    flex: 1;
}
.about_us .about_us_content .right_content .right_content_image{
    flex: 1;
}
.about_us .about_us_content .right_content .right_content_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

}

.about_us .about_us_content .right_content .number_of_property .number_text{
    font-size: 13px;
    color: #5ea51d;
    font-weight: 600;

}

.about_us .about_us_content .right_content .number_of_property{
    display: flex;
    column-gap:40px;
    row-gap:0px;
    margin-bottom: 2rem;
}

.about_us .about_us_align{
    width: 100%;
    display: flex;
    justify-content: center;
    /* padding: 0px 200px; */
}
.about_us .find_best_for_leaving{
    background-image: url('../../assets/images/bg_4.jpg.webp');
    background-size: cover;
    background-repeat: repeat;
    background-position: center center;
    width: 100%;
    /* height: 100%; */
    margin-top: 6rem;
    position: relative;
    z-index: 1;
    color: white;
    padding-top: 3rem;
    padding-bottom: 3rem;
    

}
.about_us .find_best_for_leaving .find_best_for_leaving_content{
    width: 83.33333%;
} 
.about_us .find_best_for_leaving .find_best_for_leaving_content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:40px;
}
.about_us .find_best_for_leaving .btn_div{
    width: 33.33333%;
    padding-left: 1.5rem;
}
.about_us .find_best_for_leaving button{
    background: #000000 !important;
    border: 1px solid #000000 !important;
    color: #fff !important;
    cursor: pointer;
    box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.09);
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    height: 3rem;
    padding: 0px 20px;
    /* width: 33.33333%; */
}
.about_us .find_best_for_leaving .overlay_color{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    opacity: .9;
    background: #5ea51d;
    z-index: -1;
    width: 100%;

}

.about_us .find_best_for_leaving_text{
    width: 66.66667%;
}
.about_us .about_us_content .right_content .number_of_property .year_of_exp{
    width: 25%;

}
.about_us .find_best_for_leaving .find_best_for_leaving_align{
    display: flex;
    justify-content: center;
}


@media only screen and (max-width: 1100px) {
    .about_us .about_us_content .right_content .number_of_property .year_of_exp{
        width: 50%;
    }
    .about_us .about_us_content .right_content .number_of_property{
        display: flex;
        flex-wrap: wrap;
        row-gap:40px;
        column-gap:0px;
        margin-bottom: 2rem;
    }
}
@media only screen and (max-width: 992px) {
    .about_us .find_best_for_leaving_content{
        width: 83.33333%;
    }
}
@media only screen and (max-width: 768px) {
    .about_us .about_us_content .left_content {
        display: none;
    }
    .about_us .about_us_content {
        width: 100%;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    .about_us .about_us_content .right_content {
        width: 100%;
    }
    .about_us .about_us_content .right_content .number_of_property .year_of_exp{
        width: 100%;
    }
    .about_us .about_us_content .right_content .number_of_property{
        display: flex;
        flex-direction: column;
    }
    .about_us .find_best_for_leaving .find_best_for_leaving_content{
        flex-direction: column;
    }
    .about_us .find_best_for_leaving .find_best_for_leaving_align{
        justify-content: flex-start;
    }
    .about_us .find_best_for_leaving_content{
        width: 100%;
    }
    .about_us .find_best_for_leaving .btn_div{
        width: 100%;    
    }
    .about_us .find_best_for_leaving_text{
        width: 100%;
    }
    .about_us .find_best_for_leaving .find_best_for_leaving_content .find_best_for_leaving_text{
        padding-left: 1.5rem;
    }



}
